# Python
venv/
.venv/
__pycache__/
*.pyc

# Env
.env
backend/.env
frontend/.env

# IDE
.vscode/
.vite/

# OS
.DS_Store

# ML
models/*.pt
models/*.pkl

# python cache
__pycache__/
**/__pycache__/
*.pyc

backend/.envrc
frontend/dist/
frontend/node_modules/
model/.ipynb_checkpoints/

# Test / coverage artifacts
.coverage
.pytest_cache/
htmlcov/
tests/.pytest_cache/
tests/htmlcov/
